<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="7228BerserkerDotNet.UniversalWorldClock" Publisher="CN=1264B34E-257D-456F-A56B-3A4B5BF176AD" Version="1.0.1.7" />
  <Properties>
    <DisplayName>Universal World Clock</DisplayName>
    <PublisherDisplayName>BerserkerDotNet</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="UniversalWorldClock.App">
      <VisualElements DisplayName="Universal World Clock" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Universal World Clock" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="logoOnly" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
</Package>